<div class="col-9 white ui-shadow p-3" id="information">
    <h5 class="text-dark">Informations</h5>
    <small>Toutes les informations concernant les acteurs de l'accident</small>
    <hr>
    <small>Depot : 1</small><br>
    <small><i class="mdi-communication-business"></i> voiture(s) : {{nbFournisseur}}</small><br>
    <small><i class="mdi-social-person"></i> Acteur(s) : {{nbClient}}</small>

</div>