<div class="col-3 d-flex mt-3">
    <div class="card shadow-sm border-0 rounded-0" style="">
  <div class="card-body p-4">
    <small class="text-secondary">Index : <%= block.index %></small></br>
    <small class="text-secondary">Proof : <%= block.proof %></small></br>
    <small class="text-secondary">timestamp : <%= block.timestamp %></small></br>
    <small class="text-secondary">PreviousBlockHash : <%= block.previousBlockHash %></small>
    <br>
  </div>
</div>
</div>