<div class="col-3 d-flex mt-3">
      <div class="card shadow-sm border-0 rounded-0" style="">
            <div class="card-body p-4">
              <small class="text-secondary">donnée 1</small></br>
              <small class="text-secondary">Donnee 2: </small></br>
              <small class="text-secondary">donnee: </small></br>
              <small class="text-secondary">donnee : </small>
              <br>
              <button type="button" class="btn btn-dark mt-3 rounded-0" data-toggle="modal" data-target="#modal">Effectuer une déclaration</button>

              <div id="modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                           <% include form %>
                        </div>
                    </div>
                </div>
            </div>
      </div>
 </div>

