 <div class="col-lg-12" id="particles-js"
        style='height:100%;position: fixed;left:0; top:0;z-index:0; background-size: 100%; z-index : -1; background-repeat: no-repeat; background-position: 0 0;'>
    </div>
<script src="/javascripts/particule.js"></script>
<script src="/javascripts/app_particule.js"></script>