<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UTILISATEURS</h1>
   <a class="nav-link"  href="/connexionAgent"> <button type="button" class="btn btn-sm btn-outline-secondary">Connexion Agent de gestion</br> des sinistres</button></a>
    <p class="text-info">Interface de connexion</p>
    
<div class="row d-flex justify-content-center" id="page">
<div class="form col-4 p-5 shadow-sm">
  <form method="post" action="/users/loginUser">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control-plaintext border rounded-0 p-2" name="email" aria-describedby="emailHelp">
    <small  class="form-text text-muted">Entrer votre adresse mail</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control-plaintext border rounded-0 p-2">
  </div>
  
  <button type="submit" class="btn btn-danger rounded-0">Connexion</button>
</form>
</div>
</div>
  </body>

   <% include anim %>
</html>
