
    <div class="sidebar" data-color="orange">
    
      <div class="logo">
          assure
         
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active ">
            <a href="#">
              <i class="now-ui-icons design_app"></i>
              <p>Mes Contrats</p>
            </a>
          </li>
          <li>
            <a href="../sinistres">
              <i class="now-ui-icons education_atom"></i>
              <p>Mes Sinistres</p>
            </a>
          </li>
         
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="now-ui-icons arrows-1_cloud-download-93"></i>
              <p>Upgrade to PRO</p>
            </a>
          </li>
        </ul>
         
      </div>

    </div>
