
    <div class="sidebar" data-color="red">
    
      <div class="logo">
       
         
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="../home">
              <i class="now-ui-icons design_app"></i>
              <p>Sinistres</p>
            </a>
          </li>
          <li  class="active">
            <a href="#">
              <i class="now-ui-icons education_atom"></i>
              <p>Expertises Effectué</p>
            </a>
          </li>
         
          <li class="active-pro">
            <a href="./upgrade.html">
              <i class="now-ui-icons arrows-1_cloud-download-93"></i>
              <p>Upgrade to PRO</p>
            </a>
          </li>
        </ul>
         
      </div>

    </div>
